[build]
publish = "dist"
command = "pnpm run build"
[build.processing.html]
pretty_urls = false
[[headers]]
for = "/assets/*"
[headers.values]
Cache-Control = "public, max-age=31536000, immutable"

[[plugins]]
package = "@netlify/plugin-lighthouse"
[[plugins]]
package = "netlify-plugin-checklinks"
[plugins.inputs]
skipPatterns = ["https://plausible.mehalter.com/*"]
[[plugins]]
package = "netlify-plugin-submit-sitemap"
[plugins.inputs]
sitemapPath = "/sitemap-index.xml"
