---
import Layout from "~/layouts/layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Error 404 - AstroNvim">
  <div
    class="container mx-auto my-8 flex flex-col items-center justify-center px-5"
  >
    <div class="max-w-md text-center">
      <h2 class="mb-8 font-bold text-9xl">
        <span class="sr-only">Error</span>
        <span class="text-primary">404</span>
      </h2>
      <p class="font-semibold text-3xl md:text-3xl">
        Sorry, we couldn't find this page.
      </p>
      <p class="mb-8 mt-4 text-offset text-lg">
        If you are looking for the AstroNvim documentation site, it has been
        moved to <a href="https://docs.astronvim.com">docs.astronvim.com</a>.
      </p>
      <a
        rel="noopener noreferrer"
        href="/"
        class="flex items-center justify-center gap-3 bg-primary px-6 py-4 text-[--color-background]"
      >
        <Icon name="tabler:home" class="h-8 text-lg" />
        <span>Go to homepage</span>
      </a>
      <br />
      <a
        id="docs_link"
        rel="noopener noreferrer"
        class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
      >
        <Icon name="tabler:telescope" class="h-8 text-lg" />
        <span>Go to documentation</span>
      </a>
    </div>
  </div>
  <script>
    var docs_link = document.getElementById("docs_link");
    const url = new URL(window.location.href);
    docs_link.setAttribute(
      "href",
      "https://docs.astronvim.com".concat(url.pathname, url.search, url.hash),
    );
  </script>
</Layout>
