---
import Layout from "~/layouts/layout.astro";
import Header from "~/components/header.astro";
import Splash from "~/components/splash.astro";
import Intro from "~/components/intro.astro";
import Features from "~/components/features.astro";
import FAQ from "~/components/faq.astro";
---

<Layout title="AstroNvim">
  <Header />
  <Splash />
  <div class="space-y-24 px-8 py-32">
    <Intro />
    <Features />
    <FAQ />
  </div>
</Layout>
