---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'AstroNvim — an aesthetic and feature-rich neovim config that is extensible and easy to use with a great set of plugins',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Install',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Documentation', href: 'https://docs.astronvim.com' },
    ]}
    image={{ src: '~/assets/images/overview.png', alt: 'AstroNvim overview image' }}
  >
    <Fragment slot="title">
      Aesthetic and feature-rich Neovim configuration that focuses on <span class="text-accent highlight">extensibility</span> and <span class="text-accent highlight">usability</span>
    </Fragment>

    <!-- <Fragment slot="subtitle"> -->
    <!--   <span class="hidden sm:inline"> -->
    <!--     <span class="font-semibold">AstroNvim</span> is an aesthetic and feature-rich neovim config that is extensible and easy to use with a great set of plugins. -->
    <!--   </span> -->
    <!-- </Fragment> -->
  </Hero>

  <!-- Features Widget *************** -->

<Features
    id="features"
    tagline = "Features"
    title="What you get with AstroNvim"
    subtitle="A great out-of-box experience without compromising on speed or customization."
    items={[
      {
        title: 'Community Plugin Ecosystem',
        description: "Access to <a href='https://community.astronvim.com' class='hover:underline dark:text-slate-400'>AstroCommunity</a>, an extensive community-maintained plugin marketplace that makes it easier than ever to add plugins or language support.",
        icon: 'tabler:box-seam',
      },
      {
        title: 'Automatic Tool Setup',
        description: "No code necessary to get up and running with language server, linters, and formatters. Simply install them from the built in package manager Mason!",
        icon: 'tabler:settings',
      },
      {
        title: 'Fast Startup',
        description: 'Fast startup time whether you are opening an empty Neovim session or opening a file directly through extensive lazy loading of plugins.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Aesthetic User Interface',
        description: 'A beautiful user interface that focuses on proividing the information you need without wasting space or cluttering the screen.',
        icon: 'tabler:palette',
      },
      {
        title: 'Modular Configuration',
        description: 'A modular configuration built as a collection of plugins which are configured like any other Neovim plugin without the need for esoteric configuration mechanisms.',
        icon: 'tabler:puzzle',
      },
      {
        title: 'Stability Focused Development',
        description: 'Avoiding breaking changes, tracking versions of built in plugins, and strict adherence to semantic versioning provides a stable experience that can be updated reliably.',
        icon: 'tabler:scale',
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    id="faqs"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroNvim?',
        description:
          "We found other Neovim configurations either being powerful out of the box but hard to customize, or easy to customize but minimal out of the box functionality. AstroNvim aims to find the middle ground with a great out of te box experience while empowering the user to make tweaks where they want.",
      },
      {
        title: 'How can I get started?',
        description:
          "Getting started is super easy! Head over to the <a href='https://docs.astronvim.com' class='hover:underline dark:text-slate-400'>Getting Started Guide</a> which will step you through setting up the user template. From there you can start playing around with AstroNvim, but be sure to look through the rest of the documentation to see how to customize it further.",
      },
      {
        title: 'Does AstroNvim support the language I code in?',
        description:
          "Out of the box AstroNvim doesn't provide direct support for any one language, but provides a base for setting up any language easily. <a href='https://community.astronvim.com' class='hover:underline dark:text-slate-400'>AstroCommunity</a> is a community repository for sharing configuration snippets such as language support. AstroCommunity has >40 language packs that can be added to your configuration to get state of the art language support.",
      },
      {
        title: 'What if I have questions about using or customizing AstroNvim?',
        description:
          "Feel free to join our <a href='https://discord.astronvim.com' class='hover:underline dark:text-slate-400'>Official Discord server</a>! We have a very active and welcoming community with a variety of skill sets and use cases for AstroNvim. People there are happy to help answer questions. Just make sure to read and understand the server rules, and search the server for previously asked questions.",
      },
    ]}
  />
</Layout>
