---
import { Icon } from "astro-icon/components";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    description: "Mastodon",
    icon: "tabler:brand-mastodon",
    url: "https://hachyderm.io/@AstroNvim",
  },
  {
    description: "X",
    icon: "tabler:brand-x",
    url: "https://x.com/AstroNvim",
  },
  {
    description: "Discord",
    icon: "tabler:brand-discord",
    url: "https://discord.astronvim.com",
  },
  {
    description: "Reddit",
    icon: "tabler:brand-reddit",
    url: "https://reddit.com/r/AstroNvim",
  },
  {
    description: "Github",
    icon: "tabler:brand-github",
    url: "https://git.astronvim.com",
  },
];
---

<footer class="relative h-64 bg-offset">
  <div id="socials" class="flex justify-center py-14">
    <ul class="relative grid grid-cols-5 gap-4">
      {
        links.map((link) => (
          <li>
            <a
              class="flex h-16 w-16 items-center justify-center rounded-full border-2 border-current p-4"
              rel="me"
              href={link.url}
            >
              <span class="sr-only">{link.description}</span>
              <Icon class="h-full w-full" name={link.icon} />
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <div class="flex justify-center text-offset text-sm">
    <p>
      &copy; The AstroNvim Team. This site is powered by
      <a class="hover:underline" href="https://astro.build/">AstroJS</a>, <a
        class="hover:underline"
        href="https://tailwindcss.com/">Tailwind CSS</a
      >, and <a class="hover:underline" href="https://www.netlify.com/"
        >Netlify</a
      >.
    </p>
  </div>
</footer>
