---
import { Icon } from "astro-icon/components";
import ContentSection from "../components/content-section.astro";
import astrodarkImage from "../assets/themes/astrodark.png";
import astrolightImage from "../assets/themes/astrolight.png";
import { Image } from "astro:assets";
---

<div class="relative">
  <ContentSection title="Configure less, code more" id="intro">
    <Fragment slot="lead">
      AstroNvim is an aesthetically pleasing and feature-rich Neovim
      configuration that focuses on
      <span class="text-primary">extensibility</span> and
      <span class="text-primary">usability</span>.
    </Fragment>
    <a
      href="https://docs.astronvim.com"
      class="big-btn flex items-center justify-center gap-2 bg-primary px-6 py-3 font-medium text-bg"
    >
      <Icon name="tabler:rocket" class="h-8 text-lg" />
      <span>Get started</span>
    </a>
    <div class="mx-auto max-w-screen-2xl pt-8">
      <div
        class="relative rounded-lg bg-gradient-to-br from-(--color-gradient-from) via-(--color-gradient-via) to-(--color-gradient-to) p-(0.0625rem) md:p-1"
      >
        <Image
          class="hidden rounded-lg"
          id="overview-image-dark"
          src={astrodarkImage}
          widths={[240, 540, 720, 1600]}
          alt="AstroNvim Dark Theme Overview"
          loading="eager"
        />
        <Image
          class="rounded-lg"
          id="overview-image-light"
          src={astrolightImage}
          widths={[360, 540, 720, 1080, 1600]}
          alt="AstroNvim Light Theme Overview"
          loading="eager"
        />
      </div>
    </div>
  </ContentSection>
</div>
