---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import astrodarkImage from "~/assets/themes/astrodark.png";
import { Image } from "astro:assets";
---

<div class="relative">
  <ContentSection title="Configure less, code more" id="intro">
    <Fragment slot="lead">
      AstroNvim is an aesthetic and feature-rich Neovim configuration that
      focuses on
      <span class="text-primary">extensibility</span> and
      <span class="text-primary">usability</span>.
    </Fragment>
    <a
      href="https://docs.astronvim.com"
      class="flex items-center justify-center gap-2 bg-primary px-6 py-3 font-medium text-[--color-background] hover:bg-secondary hover:text-[--color-background]"
    >
      <Icon name="tabler:rocket" class="h-8 text-lg" />
      <span>Get started</span>
    </a>
    <div class="mx-auto max-w-screen-2xl pt-8">
      <div class="relative">
        <div class="absolute inset-0 rounded-lg bg-primary blur md:blur-lg">
        </div>
        <Image
          class="relative w-full rounded-lg border border-default"
          id="overview-image"
          src={astrodarkImage}
          alt="AstroNvim Overview"
        />
      </div>
    </div>
  </ContentSection>
</div>
